.panel.panel-default
  .panel-body
    form(name="search-form" ng-controller="SearchForm as form")
      .input-group
        input(ng-keypress="form.keyup()" ng-model="form.searchQuery" name="search-query" type="text" placeholder="{{form.placeholder}}" class="form-control")
        span.input-group-btn
          button(ng-click="form.find()" class="btn btn-default" type="button") Найти
